.cardMenu {
	display: flex;
	justify-content: space-between;
	margin: 1em 0;
}

.cardMenu .interactions {
	display: flex;
	padding-left: 1em;
}

.cardMenu .icon {
	margin-right: 1em;
	width: 23px;
	height: 23px;
}

.cardMenu .icon:hover {
	cursor: pointer;
}